.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.emacs.d/straight/
.emacs.d/auto-save-list/
.emacs.d/irony/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/url/
.emacs.d/pyim/
.emacs.d/emojis/
.emacs.d/transient/
.emacs.d/recentf
.emacs.d/.lsp-session-v1