.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.emacs.d/straight/
.emacs.d/auto-save-list/
.emacs.d/irony/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/url/
.emacs.d/pyim/
.emacs.d/emojis/
.emacs.d/transient/
.emacs.d/recentf
.emacs.d/.lsp-session-v1
.emacs.d/myemacsconf.el
.emacs.d/.DS_Store
.emacs.d/rime/build
.emacs.d/rime/user.yaml
.emacs.d/rime/installation.yaml
.emacs.d/rime/luna_pinyin.userdb
.emacs.d/librime
.DS_Store
st/st
st/st.o
st/x.o
st/pkg/
st/*.pkg.tar.xz