.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.emacs.d/straight/
.emacs.d/auto-save-list/
.emacs.d/irony/
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/url/
.emacs.d/pyim/
.emacs.d/emojis/
.emacs.d/transient/
.emacs.d/recentf
.emacs.d/.lsp-session-v1
.emacs.d/myemacsconf.el
.emacs.d/.DS_Store
.DS_Store
st(luke)/st
st(luke)/st.o
st(luke)/x.o
st(luke)/pkg/
st(luke)/*.pkg.tar.xz